<h1>Social Net</h1> 

<h2>Activity Stream</h2>

<form>
	<legend>Type in your status</legend>

	<input type="text" placeholder="Type your status" name="status">
	<button type="submit" class="btn"  id="submit">Add</button>

</form>

<ul class="status_list"></ul>

<p>
	<a href="#profile/me">Go to My Profile</a>
</p>