#backgroundAjaxRequest{
	position: fixed;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.3);
	z-index:99999;
	top:0;
	left:0;
	display:none;		
}

#loader{
	position: absolute;
	top:50%;
	left:50%;
	margin-left:-110px;
}

#error, #error-formats{
	display: none;
}

.alert-msg .hide{
	opacity: 0;
}

.clear{
	clear: both;
}

.row-fluid .customsection{
	border-top: 1px solid #edeff1;
	padding-top: 45px;
	box-shadow: inset 0px 3px 4px -1px #fafafa;
}

.custom-header{
	margin-bottom: 30px;
	margin-top: 30px;
}

.custom-header h4{
	text-transform: uppercase;
}

.previewTransition{
	position:absolute;bottom: 34px;left: -83px;z-index: 999;display:none;
}

#dashboard-menu a i {
	position: absolute;left: 6px;height: 30px;width: 22px;opacity: 0.8;top: 12px;
}
#dashboard-menu ul.submenu a{
	font-size:11px;
}

.ico{
	background: url("../img/sprite_icons.png") ;
}

.format-1 .ico{
	background-position: -19px 0px;
	
}

.format-2 .ico{
	background-position: 0px 0px;
	
}


.format-3 .ico{
	background-position: -40px 0px;
	
}





