<div   id="preview-result">

<div id="backToScrapResult"><h4><a class="btn-flat danger backButton">REVENIR</a></h4></div>

		 {{#each previews}}
		<div class="no-gallery">
			<div class="center">
				<img src="{{src}}" style="max-width:420px;">
			</div>
		</div>
		{{/each}}

</div>